<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Memorandum</title>
</head>
<body>
<div class="container">
    <div class="title">404</div>
    <div class="formula">
        <div>
            <span class="subscript-font">X<span>1</span></span>
            <span class="subscript-font">-</span>
            <span class="subscript-font">3X<span>2</span></span>
            <span class="subscript-font">=</span>
            <span class="subscript-font">2</span>
        </div>
        <div>
            <span class="subscript-font">-2X<span>1</span></span>
            <span class="subscript-font">+</span>
            <span class="subscript-font">6X<span>2</span></span>
            <span class="subscript-font">=</span>
            <span class="subscript-font">-4</span>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/dist/404.min.js"></script>